/* Dla elementu body zastosuj czcionkę Kode Mono, monospace, 
tło o kolorze #fdf9fd, 
kolor tekstu #464646. */


/* Element H1 ma mieć rozmiar czcionki 60px, 
wysokość wiersza 1.1, 
czcionkę o wadze 400. */


/* Element H2 ma mieć rozmiar czcionki 36px,
tekst ma byc wyśrodkowany,
kolor tekstu czarny. */


/*Akapit ma mieć rozmiar czcionki 20px,
odstęp między literami 1px,
tekst wyjustowany. */


/*Elementy o ID underline mają mieć podkreślenie,
kolor podkreślenia #bc00dd,
odstęp od tekstu 7px,
czcionkę o wadze 500. */


/*Elementy o klasie text-decoration mają mieć cień tekstu,
kolor cienia #bc00dd,
czcionkę o wadze 700,
styl kursywa,
odstęp między literami 10px,
rozmiar czcionki 80px,
kolor tekstu czarny. */


section {
  padding-top: 60px;
  max-width: 600px;
  margin: 0 auto;
}
